 @import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap"); 

:root{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
--bg-back: #000000;
    --hover-color:#12f7ff;
    --big-font:2.5rem;

    --font-neon-text-shadow:0 0 10px rgba(--skin-color),
    0 0 20px rgba(--skin-color),
    0 0 30px rgba(--skin-color),
    0 0 40px rgba(--skin-color),
    0 0 70px rgba(--skin-color),
    0 0 80px rgba(--skin-color),
    0 0 100px rgba(--skin-color),
    0 0 10px rgba(--skin-color),
    0 0 150px rgba(--skin-color);
}
.shadow-dark{

  --bg-black-900:#1d1d2e;
    --bg-black-100:#272329;
    --bg-black-50:#211b24;
    --text-black-900:#c4c2e2;
    --text-black-700:#d8d7e9;
--bg-back:#929296; 
    
    --font-neon-text-shadow:0 0 10px rgba(--skin-color),
    0 0 20px rgba(--skin-color),
    0 0 30px rgba(--skin-color),
    0 0 40px rgba(--skin-color),
    0 0 70px rgba(--skin-color),
    0 0 80px rgba(--skin-color),
    0 0 100px rgba(--skin-color),
    0 0 10px rgba(--skin-color),
    0 0 150px rgba(--skin-color);
    
}
body{
    
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;

}
::before,::after{
    box-sizing: border-box;

}
ul{
    list-style: none;
}
.section.back-section
{
    z-index: 1;
}
/* .main-container
{
    display: none;
} */



.section{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
   
 
 position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
    padding: 0 30px;
    opacity: 1;
    transition: all 0.3s ease;
}

.section.active{
    z-index: 2;
    animation: slideSection 1.5s ease;
    opacity: 1;
}
@keyframes slideSection{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}
.hidden{
    display: none !important;
}
.section .container
{
    padding-top: 60px;
    padding-bottom: 70px;
}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;

}
.section-title h2 {
    font-size: 40px;
    font-weight: 700;
    color: var(--text-black-900);
    position: relative;
}
.section-title h2::before
{
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
background-color: var(--skin-color);
    top: 100%;
    left: 0;
}
.section-title h2::after
{
    content: '';
    position: absolute;
    width: 25px;
    height: 4px;
background-color: var(--skin-color);
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}
.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.btn-box{
    display: flex;
    justify-content: space-between;
    width: 320;    

    height: 45px;
}
.header-btn{
    margin: 0 80px 0 0;

}
.btn
{
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    width: 150px;
    height: 100%;
    background: var(--skin-color);
    color: var(--bg-black-100);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid var(--skin-color);
}
 .btn::before{
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 background: var(--bg-black-50);
 transition: .9s;
 z-index: -1;
 width: 0%;
 height: 100%;
}

.btn:hover::before{
width: 100%;
}

.btn:hover{
    transform: scale(1.02);
    color: var(--skin-color);


}
.btn-box a.btn:nth-child(2):hover{
    color: var(--bg-black-50);
    
}
.btn-box a.btn:nth-child(2){
    background:var(--bg-black-50);
    color: var(--skin-color);   

}
.btn-box a.btn:nth-child(2)::before{
    background-color: var(--skin-color);
}

.social-icon{
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    width: 230px;   
    height: 40px; 

}
.social-icon a{
    display: inline-flex;
    width: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 2s solid var(--bg-black-100);
    background: var(--bg-black-100);
    color: var(--skin-color);
    transition: .6s;
    box-shadow: 0 0 0.3rem var(--skin-color);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;

}
.social-icon a i{
    font-size: 1.5rem;
}
.social-icon a:hover{
    color: var(--bg-black-100);
}
.social-icon a::before{

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--skin-color);
    transition: .6s;
    z-index: -1;
    
}

.social-icon a:hover::before{
    width: 100%;
}
.liquid-shape{
position: absolute;
width: 100%;
height: 100%;
z-index: -1;
top: 8%;
}
.liquid-shape:nth-child(2){
    filter: blur(80px);
}
.shadow-dark
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.aside{
    width: 270px;
    background-color: var(--bg-black-50);
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px solid var(--bg-black-100);
    z-index: 10;
    height: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease;
    align-items: center;
}
.aside .logo{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;


}
.aside .nav-toggler.open span{
    background-color: transparent;
}

.aside .logo a{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}
.aside .logo a span {
    font-family: 'Clicker Script',cursive;
    font-size: 40px;
}

.aside .logo a::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}
.aside .logo a::after
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top:  0;
    right: 0;
}
.aside .nav-toggler{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    transition: all 0.3s ease;
    justify-content: center;
}
.aside .nav-toggler span{
    height: 2px;
    width: 18px;
    position: relative;
    background: var(--skin-color);
    display: inline-block;
}
.aside .nav-toggler span::before{
    height: 2px;
    content: '';
    background: var(--skin-color);
position: absolute;
    width: 18px;
    top: -6px;
    left: 0;
}.aside .nav-toggler.open span::before{
    transform: rotate(45deg);
    top: 0;
}

.aside .nav-toggler span::after{
    height: 2px;
    content: '';
    background: var(--skin-color);
position: absolute;
    width: 18px;
    top: 6px;
    left: 0;
}
.aside .nav-toggler.open span::after{
    transform: rotate(-45deg);
    top: 0;
}

.aside .nav{
    margin-top: 50px;
}
.aside .nav li{
    margin-bottom: 20px;
    display: block;
}
.aside .nav li a{
    font-size: 16px;
    display: block;
    font-weight: 500;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
    padding: 5px 15px;
}

.aside .nav li a:hover{
    text-shadow:0 0 10px rgba(207, 240, 241, 0.6),
    0 0 20px rgba(255, 254, 254, 0.6),
    0 0 30px rgba(215, 226, 226, 0.6),
    0 0 40px rgba(235, 243, 243, 0.6),
    0 0 70px rgba(234, 246, 247, 0.6),
    0 0 80px rgba(217, 246, 247, 0.6),
    0 0 100px rgba(219, 237, 238, 0.6),
    0 0 10px rgba(240, 250, 250, 0.6),
    0 0 150px rgba(248, 252, 252, 0.938) ;

#blob {
    fill: var(--skin-color);
}

}

.aside .nav li a.active{
    color: var(--skin-color);

}
.aside .nav li a i{
    margin-right: 15px;
}
.home 
{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}
.home .home-info{
    flex: 0 0 50%;
    max-width: 0 0 60%;
}
.home .home-img{
    flex: 0 0 40%;
    max-width: 0 0 40%;
    position: relative;

    text-align: center;
}
.home .home-img img {
    height: 400px;
    margin: auto;
    border-radius: 5px;
    animation: floatImage 4s ease-in-out infinite; 
    transition: 3s;
    cursor: pointer;                                                    
}

.home .home-img img:hover {
    background:#000000;
    opacity: .5;
    background:transparent;
    
}



@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(2.7rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-img::after{

    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    right: -20px;
    bottom: -4px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);

}
.Charage-text{
    display: flex;
    padding: 2px;
}
.home-img::before{

    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    left: -4px;
    top: -9px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);

}
h3.hello{
    font-size: 28px;
    margin: 15px 0;
}
h3.hello span{
    font-family: 'Clicker Script' ,cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}
h3.my-profession{
    font-size: 30px;
    margin: 15px 0;
}
.typing{
    color: var(--skin-color);
}
h3 .word{
    position: absolute;
    display: flex;
    opacity: 0; 
    margin: 0 0 0 22px;
}
.Charage-text h3 .word .letter
{
    transform-origin: center center 25px;
}

.Charage-text h3 .word .letter.out
{
    transform: rotateX(90deg);
    transition: .30s cubic-bezier(0.6,0,0.7,0.2);
    }
    .Charage-text h3 .word .letter.in{
        transition: 0.98 ease;
    }
    .Charage-text h3 .word .letter.behind{
        transform: rotateX(-90deg);
    }
.home-info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}


.about .about-content{
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
color: var(--text-black-900);}

.about .about-content .about-text h3 span {
    color: var(--skin-color);

}
.about .about-content .about-text p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}

.about .about-content .personal-info
{
    flex: 0 0 55%;
    max-width: 55%;
margin-top: 50px;
}

.about .about-content .personal-info .info-item
{
    flex: 0 0 50%;
    max-width: 50%;
}
.about .about-content .personal-info .info-item p{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span{
    font-weight: 400;
    color: var(--text-black-700);
margin-left: 4px;
display: inline-block   ;
}
.about .about-content .personal-info .buttons{
    margin-top: 40px;
}
.about .about-content .personal-info .buttons .btn{
    margin-top: 10px;

}
.about .about-content .skills
{
    flex: 0 0 45%;
    max-width: 45%;
margin-top: 50px;    
}
.about .about-content .skills .skill-item
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .skills .skill-item h5{
    line-height: 40px;
    font-family: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}
.about .about-content .skills .skill-item .progress
{
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}

.about .about-content .skills .skill-item
{
    margin-bottom: 30px;
}
.about .about-content .skills .skill-item .progress .progress-in
{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);


}
.about .about-content .skills .skill-item .skill-percent
{
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}
.about .about-content .education,
.about .about-content .experience
{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;

}
.about .about-content h3.title
{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900)    ;

}

.about .about-content .timeline-box{
    flex: 0 0 100%;
    max-width: 100%;
}  
.about .about-content .timeline{
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 15px;
    position: relative;
}

.about .about-content .timeline .timeline-item
{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}
.about .about-content .timeline .timeline-item:last-child
{
    padding-bottom: 0px;

}
.about .about-content .timeline .timeline-item::before
{
    
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    left: 7px;
    top: 0;
   background-color: var(--skin-color);
}

.about .about-content .timeline .circle-dot
{
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}
.about .about-content .timeline .timeline-data
{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}
.about .about-content .timeline .timeline-data .fa
{
    margin-right: 5px;
}
.about .about-content .timeline .timeline-title
{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    text-transform: capitalize;
}
.about .about-content .timeline .timeline-text
{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}




/* 
/* ////////////////////////////////////////////////////////////////////////////////////////// 
.Portfolio */



.Portfolio .container
{
    padding-bottom: 40px;
}




.Portfolio .Portfolio-heading{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;

}

.Portfolio .Portfolio-heading h2 {
    font-weight: 500;
    color: var(--text-black-900);
}
/* 
.Portfolio .Portfolio-item
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;

}
.Portfolio .Portfolio-item-inner
{
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;

}
.Portfolio .Portfolio-item-inner .Portfolio-img img 
{
    width: 100%;
    display: block; */

    .fillter-buttons{
        margin: 0 2rem 2rem 2rem;
        text-align: center;
    }

    .protfolio-gallery{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(270px,1fr));
        gap: 2rem;
    }

.port-box{
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    background: #000000;
    display: flex;
    grid-template-rows: 1fr auto;
    align-items: center;
    border: 2px solid var(--bg-black-100);
    box-shadow: 2px -2px 20px 5px var(--skin-color);
}

.port-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.port-image img{
    width: 100%;
    opacity: .5s;
    height: 100%;
    transition: .5s;
}
.port-content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    flex-direction: column;
    text-align: center;
    transition: 0.5s;
    padding: 0 2rem;
    height: 100%;
    opacity: 0;
cursor:  pointer;

    transform: 0.4s ease;
    color: #d8d7e9;
    background: linear-gradient(rgba(0,0,0,0.1),var(--skin-color));
    align-items: center;
}

.port-box:hover .port-content{
    opacity: 1;
}
.port-box:hover .port-image img{
    transform: scale(1.1);
}
.port-content h3{
    font-size: 1.5rem;
    font-weight: 600;
}
.port-content p{
    font-size: 0.8rem;
    margin: 5px 0 15px 0;
}
.port-content a{
    background: #fdf9ff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid var(--skin-color);
    outline: 2px solid #d8d7e9;
    transform: 0.4s ease;
}
 .port-content a i{
    font-size: 1.3rem;
    color: var(--bg-back);
 }





.fillter-buttons .btn.active{
    background-color: var(--bg-black-50);
    
    transform: scale(1.02);
    color: var(--skin-color);
}




























    /*contact/////////////////////////////////////////////////////////////////////////////////////*/ 


.contact-title
{
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.contact-sub-title
{
    color: var(--text-black-900);
    text-align: center;
    font-size:15px;
    margin-bottom: 60px;

}
.contact  .contact-info-item
{
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}

.contact  .contact-info-item .icon
{
    display: inline-block;
}

.contact  .contact-info-item .icon .fa{
    font-size: 25px;
    color: var(--skin-color);

}

.contact  .contact-info-item h4
{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.contact  .contact-info-item p
{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}
.contact .contact-form
{
    flex: 0 0 100%;
    max-width: 100%;

}

.contact .contact-form .col-6
{
    flex: 0 0 50%;
    max-width: 50%;
}

.contact .contact-form .col-12
{
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item
{
    margin-bottom: 30px;

}

.contact .contact-form .form-item .form-control
{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}

.contact .contact-form .form-item .form-control:focus
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .form-item .form-control::placeholder
{
    color: var(--text-black-700);
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s ease;

}

.contact .contact-form .form-item .form-control:focus::placeholder
{
    color: transparent;
}

.contact .contact-form .form-item .form-control + label
{
    font-size: 16px;
    color: var(--text-black-700);
    display: inline-block;
    margin-bottom: 10px;

}

.contact .contact-form .form-item .form-control + label .required
{
    margin-left: 2px;
    color: var(--skin-color);

}

.contact .contact-form .form-item .form-control + label .error
{
    margin-left: 2px;
    color: var(--skin-color);
    font-size: 12px;

}

.contact .contact-form .form-item .form-control + label .error::after
{
    content: '!';
    color: var(--skin-color);
    margin-left: 2px;

}

.contact .contact-form .form-item textarea.form-control
{
    height: 140px;
}

.contact .contact-form .btn
{
    height: 50px;
    padding: 0 50px;
}
@media(max-width:1315px)
{
    .aside{
        left: -270px;
    }
.aside .nav-toggler{
    display: flex;
    left: 30px;
}
.aside.open
{
    left: 0;
}
.aside .nav-toggler.open{
    left: 300px ;
}
.section{
    left: 0;
}
.section.open{
    left: 270px;
}
    .about .about-content .personal-info .info-item p span
    {
        display: block;
        margin-left: 0;
    }
}
@media(max-width:1065px)
{
    .contact .contact-info-item,
    .Portfolio .Portfolio-item,
    .services .service-item
    {
        flex: 0 0 50%;
        max-width: 50%;
    }

   
    .home .home-info
    {
        flex: 0 0 100%;
        max-width: 100%;

    }
    .home .home-img
    {
        display: none;
    }

}
@media(max-width:765px)
{
    .contact .contact-info-item,
    .contact .contact-form .col-6,
    .services .service-item,
    .Portfolio .Portfolio-item,
    .about .about-content .education,
    .about .about-content .experience
    {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .about .about-content .skills,
    .about .about-content .personal-info{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media(max-width:765px)
{
    .contact .contact-info-item,
    .contact .contact-form .col-6,
    .services .service-item,
    .Portfolio .Portfolio-item,
    .about .about-content .education,
    .about .about-content .experience
    {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .about .about-content .skills,
    .about .about-content .personal-info{
        flex: 0 0 100%;
        max-width: 100%;
    }
}


.ABOUT{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

    
    
span{
    color: var(--skin-color);
}
/* }
.ABOUT .about-img .about-More
{
    width: 40vh;
    border-radius: 70%;
    height: auto;

}   
.img-hero img{
z-index: 10;
}

.img-hero{

}
.img-hero span{
    position: absolute;
    width: 200px;
    height: 200px;
    background: var(--skin-color);
    border: 6px solid #d8d7e9;
    border-radius: 70%;
    overflow: hidden;
    z-index: 11;
    display: flex;
}

.img-hero span::before{
    content: "";
    position: absolute;
    inset: 20px;
    background: #12f7ff;
    border-radius: 70%;
      z-index: 11;
}

.img-hero span i{
    position: absolute;
    inset: 0;
    background: #272329;
    filter: blur(5px);
    animation: animate 2s linear infinite;
}
@keyframes animate {
    0%{
        transform: rotate(0deg); 
    }
    100%{transform:rotate(360deg);}
}









 */

.about-content{
    padding: 3rem;
}
.about-content h2{
    color: var(--skin-color);
    
}
.about-content h3{
    font-size: 2.1rem;
    line-height: 3rem;
    margin: .5rem 0;

}
.about-content p{
    color: var(--text-black-700);
}
.text-box p{
font-size: 1.1rem;
font-weight: 500;
}
.about-btn{
    margin: .8rem 0;
}
.about-btn button{
    background: var(--bg-black-50);
    padding: 10px 20px ;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: rgba(60, 64, 67, 0.3)0px 1px 2px 0,rgba(60, 64, 67, 0.15)0px 2px 6px 2px;
    cursor: pointer;
    transition: all .3s ease;

}
.about-btn button.active{
    background: var(--skin-color);
    color: var(--bg-black-50);
}
.text-box span{
    color: var(--skin-color)   ;
}
.text-box{
    margin: .8rem 0;
}
.content-btn>.Conten:not(:first-child){
    display: none;
}










/* 
ظظ */
.absolute {
    position: absolute;
  }
  
  .inline-block {
    display: inline-block;
  }
  
  .loader {
    display: flex;
    margin: 0.25em 0;
  }
  
  .w-2 {
    width: 0.5em;
  }
  
  .dash {
    animation: dashArray 2s ease-in-out infinite,
      dashOffset 2s linear infinite;
  }
  
  .spin {
    animation: spinDashArray 2s ease-in-out infinite,
      spin 8s ease-in-out infinite,
      dashOffset 2s linear infinite;
    transform-origin: center;
  }
  
  @keyframes dashArray {
    0% {
      stroke-dasharray: 0 1 359 0;
    }
  
    50% {
      stroke-dasharray: 0 359 1 0;
    }
  
    100% {
      stroke-dasharray: 359 1 0 0;
    }
  }
  
  @keyframes spinDashArray {
    0% {
      stroke-dasharray: 270 90;
    }
  
    50% {
      stroke-dasharray: 0 360;
    }
  
    100% {
      stroke-dasharray: 270 90;
    }
  }
  
  @keyframes dashOffset {
    0% {
      stroke-dashoffset: 365;
    }
  
    100% {
      stroke-dashoffset: 5;
    }
  }
  
  @keyframes spin {
    0% {
      rotate: 0deg;
    }
  
    12.5%,
    25% {
      rotate: 270deg;
    }
  
    37.5%,
    50% {
      rotate: 540deg;
    }
  
    62.5%,
    75% {
      rotate: 810deg;
    }
  
    87.5%,
    100% {
      rotate: 1080deg;
    }
  }
         



  /* skills */

.skill-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
  .skill-bar{
    margin-bottom: 2.3rem;
  }
  .skill-main h3{
    margin-bottom: 5rem;
    text-align: center;
    font-size: 3.3rem;
  }
  .skill-left .skill-bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  .skill-left .skill-bar .bar{
    width: 100%;
    height: 10px;
    background: var(--bg-black-50);
    border-radius: 25px;
    position: relative;
    margin-top: 30px;
  }
  .skill-bar .bar span{
    height: 100%;
    width: 50%;
    position: absolute;
    left: 0;
    background: var(--skin-color);
    border-radius: 25px;
    text-shadow: 1px 1px 2px rgb(180, 64, 64), 0 0 25px rgb(8, 8, 14), 0 0 5px rgb(139, 63, 0);
    box-shadow: 2px 4px 8px 8px rgba(54, 54, 54, 0.253);

}
  .skill-bar .bar .html{
    width: 92%;
    animation: html 2s;
  }
  .skill-bar .bar .css{
    width: 85%;
    animation: css 3s;
  }
  .skill-bar .bar .JavaSCript{
    width: 83%;
    animation: JavaSCript 5s;
  }
  .skill-bar .bar .Cplus{
    width: 90%;
    animation: cplus 6s;
  }
  .skill-bar .bar .Python{
    width: 43%;
    animation: Python 4s;
  }
  
  
    
  
  @keyframes html{
    0%{
      width: 0%;
    }
    100%{
      width: 92%;
    }
  }
  @keyframes css{
    0%{
      width: 0%;
    }
    100%{
      width: 85%;
    }
  }
  @keyframes JavaSCript{
    0%{
      width: 0%;
    }
    100%{
      width: 83%;
    }
  }
  @keyframes cplus{
    0%{ 
      width: 0%;    
    }
    100%{
      width: 90%;
    }
  }
  @keyframes Python{
    0%{
      width: 0%;
    }
    100%{
      width: 43%;
    }
  }

  .professional{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .box{
    position: relative;

margin: 10px 0;
flex: 1 1 15rem;
  }
  .box .text{
    text-align: center;
    font-size: 1rem;
    color: var(--text-black-900);
  }

  .box .text big{
    font: 400;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    letter-spacing: 1px;
    position: absolute;
  }

  .box .text small{
    display: block;
    font-weight: 600;
  }
  .circle{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .circle .points{
    width: 5px;
    height: 10px;
    background: var(--text-black-900);
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i)*var(--rot))) translateY(-45px);
  
}

.points.marked{

    animation: glow 0.04s linear forwards;
    animation-delay: calc(var(--i)*0.05s);
}
@keyframes glow{
    0%{
        background: #050505;
        box-shadow: none;
    }
    100%{
        background: var(--skin-color);
        
    box-shadow: 9px 5px 5px 5px rgba(197, 192, 192, 0.603);

    }
}


/* section-services         */



.section-services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 2rem;
    margin-top: 80px;
}

.section-services .services-box
{
    flex: 1 1 18rem;
    padding: 2rem 1rem 2rem ;
    text-align: center;
    border-radius: 10px;
    transition: transform .4s;
    background-color: var(--bg-black-50);

}

.service-btn{
    width: auto;
    justify-content: center;
}
.services-box:hover{
    transform: translateY(-3rem);
}

.service-icon{
    border: 2px solid var(--skin-color);
    padding: 2rem;
    background-color: var(--bg-black-900);
    font-size: 3rem;
    /* display: flex; */
    align-items: center;
    border-radius: 50%;
    position: relative;
    color: var(--skin-color);
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    outline: 3px solid var(--skin-color);;
}
.services-box h3{
    margin-top: 10px;
    font-size: 1.5rem;
}

.services-box p{
    margin: 0.5rem 0 1.5rem 0 ;
    font-weight: 300;
    letter-spacing: 2px;
    color: var(--text-black-700);
    line-height: 1.8;

}


.port-box {
    display: block; /* تأكد من أن جميع العناصر معروضة بشكل افتراضي */
}